@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: 'Pokemon GB';
  src: url('assets/PokemonGb-RAeo.ttf') format('truetype');
}
body{
  background-color: #222121;
}

/* Ejemplo de uso de la fuente */
.fuente-1 {
  color: white;
  font-family: 'Pokemon GB', Arial, sans-serif;
}


/* Botton */
.comic-button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #282424;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #ff5252;
  color: #222121;
  box-shadow: none;
  transform: translateY(4px);
}